.custom-navbar {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.nav-link:hover {
  color: #7b7c76;
}


body {
  overflow-x: hidden;
  background: #244c6d;
  min-height: 100vh;
}

.navbar-toggler {
  border: 2px solid #d2d4ce;
  border-radius: 22px;
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.37);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem rgba(252, 252, 251, 0.25);
  outline: none;
}

.hero .container {
  position: relative;
  z-index: 1;
}

.hero {
  background-image: url('#');
  background-size: cover;
  background-position: center;
  min-height: 140vh;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.activities-title {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}